##################
# Custom ignores #
##################

ids.json

csvs/

**/go.*
**/.terraform
.terraform*
terraform.*
cert.pem
key.pem
function.zip
app

pg_data/
pgdata/
pg_archive/
pg_replica/

###############
# Go template #
###############
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

go.work
