##################
# Custom ignores #
##################

ids.json

csvs/

008_tightly_coupled_services/b_bounded_context/**/go.*

###############
# Go template #
###############
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

go.work
